html{
    width: 100%;
    height: 100%;
}

.back-cyber{
    background-image: url('../src/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.panel{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: #fffffff2;
    margin-top: 73px;
    padding: 8px 40px 100px;
}

.end{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

h1{
    font-weight: 700;
    text-align: center;
    color: #9f7ecb;
    font-size: 47px;
}

table{
    margin-top: 31px;
}

th{
    color: #00a897;
}

.btnsend{
    margin-top: 20px;
}