<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="back-cyber">
    <div class="panel">
      <h1>Las mejores ofertas del Cyber Monday</h1>

      <div class="end">
        <a class="waves-effect waves-light btn" href="addProducto.html"><i class="material-icons left">add</i>Añadir producto</a>
      </div>

      <table class="highlight responsive-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Lugar</th>
            <th>URL</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.lugar}}</td>
            <td>{{producto.url}}</td>
            <td>
              <a class="waves-effect waves-light btn-small"
              href="addProducto.html?id={{producto._id.toString()}}">
                <i class="material-icons">border_color</i>
              </a>
              <a class="waves-effect waves-light btn-small red darken-4">
                <i class="material-icons" onclick="deleteValue('{{producto._id.toString()}}')">delete</i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/mainControlador.js"></script>
  </body>
</html>
